# کلید API برای سرویس LLM (OpenAI یا سازگار با آن مثل OpenRouter)
LLM_API_KEY=your_api_key_here

# آدرس پایه API (پیش‌فرض OpenAI). برای OpenRouter مثلاً:
LLM_BASE_URL=https://openrouter.ai/api/v1
#LLM_BASE_URL=https://api.openai.com/v1

# نام مدل
#LLM_MODEL=gpt-4o-mini
LLM_MODEL=openai/gpt-oss-20b:free
